---
---

@import "{{ site.theme }}";

#header {
    height: 120px;

    .navigation {
        &.right {
            float: right
        }
    }

    nav {
        max-width: 80%;
    }
}

section {
    margin-top: 130px;
    max-width: 80%;
}

.wrapper {
    max-width:80%;
}